/**
 * Helper: Display
 * -----------------------------------------------------------------------------
 * Utility classes to hide and show elements based on conditions.
 *
 */
.visually-hidden {
  @include visually-hidden;
}

[lazy] {
  transition: opacity 0.3s ease;
}

[lazy=loading] {
  opacity: 0;
}

[lazy=loaded] {
  opacity: 1;
}