/**
 * Helpers: Transition
 * -----------------------------------------------------------------------------
 * Base routing transition styles.
 */
.page-enter,
.page-leave-to {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.page-enter-to,
.page-leave {
  opacity: 1;
  transition: opacity 0.2s ease;
}