/**
 * Config: Colors
 * -----------------------------------------------------------------------------
 * Colour variables for global use.
 */

/**
 * Text.
 */
$COLOR_TEXT_PRIMARY: rgb(33, 42, 47);
$COLOR_TEXT_SECONDARY: rgb(255, 255, 255);

/**
 * Backgrounds.
 */
$COLOR_BACKGROUND_WHITE: rgb(255, 255, 255);
$COLOR_BACKGROUND_BLACK: rgb(0, 0, 0);
$COLOR_BACKGROUND_DARK: rgb(33, 42, 47);
$COLOR_BACKGROUND_LIGHT: rgb(242, 242, 242);

/**
 * Borders.
 */
$COLOR_BORDER_DARK: rgb(33, 42, 47);
$COLOR_BORDER_LIGHT: rgb(211, 212, 213);
$COLOR_BORDER_WHITE: rgb(255, 255, 255);