/**
 * Config: Typography
 * -----------------------------------------------------------------------------
 * Variables and functions for typographical use.
 */

/**
 * Weights.
 */
$WEIGHT_REGULAR: 400;
$WEIGHT_SEMIBOLD: 600;
$WEIGHT_BOLD: 700;

/**
 * Letter spacing.
 */
$LETTER_SPACING_BASE: 0.5px;
$LETTER_SPACING_LABEL: 1px;
$LETTER_SPACING_LINK: 1.7px;

/**
 * Line height.
 */
$LINE_HEIGHT_BODY: 1.5;
$LINE_HEIGHT_META: 1.25;