/**
 * Config: Typography
 * -----------------------------------------------------------------------------
 * Variables and functions for typographical use.
 */

/**
 * Weights.
 */
$WEIGHT_REGULAR: 400;
$WEIGHT_SEMIBOLD: 600;
$WEIGHT_BOLD: 700;

/**
 * Letter spacing.
 */
$LETTER_SPACING_BASE: 0.5px;
$LETTER_SPACING_LINK: 1.7px;