/**
 * Components: App Header
 * -----------------------------------------------------------------------------
 * Styles for the global app header.
 */
.app-header {
  align-items: center;
  background-color: $COLOR_BACKGROUND_WHITE;
  box-shadow: rgba($COLOR_BACKGROUND_BLACK, 0.09) 0 2px 24px 0;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  z-index: 12;

  &__left {
    flex: 1 0 0;
    padding-left: 1.125rem;
  }

  &__menu-toggle {
    $menu_toggle: &;
    @include button-reset;
    background-color: $COLOR_BACKGROUND_DARK;
    display: block;
    height: 2px;
    position: relative;
    transition: all 0.1s ease;
    width: 22px;
    
    &::before {
      background-color: $COLOR_BACKGROUND_DARK;
      content: '';
      display: block;
      height: 2px;
      left: 0;
      position: absolute;
      top: -8px;
      transition: all 0.1s ease;
      width: 22px;
    }

    &::after {
      background-color: $COLOR_BACKGROUND_DARK;
      content: '';
      display: block;
      height: 2px;
      left: 0;
      position: absolute;
      top: 8px;
      transition: all 0.1s ease;
      width: 22px;
    }

    &.is-active {
      background-color: transparent;

      &::before {
        transform: rotate(45deg);
        top: 0;
      }

      &::after {
        transform: rotate(-45deg);
        top: 0;
      }
    }
  }

  &__nav {
    @include list-reset;
    display: none;
    flex: 1 0 0;

    li {
      font-size: 0.75rem;
      font-weight: $WEIGHT_BOLD;
      letter-spacing: $LETTER_SPACING_LINK;
      margin-left: 1.5rem;
      padding: 0.9rem 0;
      text-transform: uppercase;
    }
  }

  &__logo {
    display: flex;
    flex: 1 0 0;
    justify-content: center;
  }

  &__misc {
    @include list-reset;
    align-items: center;
    display: flex;
    flex: 1 0 0;
    justify-content: flex-end;
    padding-right: 1.125rem;

    li {
      margin-left: 1.125rem;
      padding: 0.9rem 0;
    }
  }

  &__account,
  &__currency-selector {
    display: none;
  }

  &__link {
    border-bottom: 2px solid transparent;
    font-size: 0.75rem;
    font-weight: $WEIGHT_BOLD;
    letter-spacing: $LETTER_SPACING_LINK;
    padding-bottom: 0.25rem;
    text-transform: uppercase;
    transition: border-bottom-color 0.1s ease;

    &:hover {
      border-bottom-color: $COLOR_BORDER_DARK;
    }
  }

  &__cart {
    @include button-reset;
    cursor: pointer;
    position: relative;
  }

  &__cart-count {
    font-size: 0.75rem;
    font-weight: $WEIGHT_BOLD;
    left: 50%;
    position: absolute;
    top: 23%;
  }

  &__currency-selector {
    position: relative;

    select {
      background-color: transparent;
      border: 0;
      padding-right: 1.25rem;
    }

    &::after {
      border-bottom: 2px solid $COLOR_BORDER_DARK;
      border-left: 2px solid $COLOR_BORDER_DARK;
      content: '';
      display: inline-block;
      height: 10px;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(-50%, -75%) rotate(-45deg);
      transform-origin: top;
      width: 10px;
    }
  }

  @include mq($from: medium) {
    &__left {
      display: none;
    }

    &__nav {
      display: flex;
    }

    &__account,
    &__currency-selector {
      display: block;
    }
  }
}