/**
 * Components: Loading Screen
 * -----------------------------------------------------------------------------
 * Base routing transition styles.
 */
@include animation-pulse;

.loading-screen {
  align-items: center;
  background-color: $COLOR_BACKGROUND_WHITE;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: 0.2s ease;
  visibility: hidden;
  width: 100%;
  z-index: 24;

  &__icon {
    animation: pulse 3s ease infinite;
    height: 50px;
    width: 50px;
  }

  &.is-loading {
    opacity: 1;
    visibility: visible;
  }
}

.page-enter,
.page-leave-to {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.page-enter-to,
.page-leave {
  opacity: 1;
  transition: opacity 0.2s ease;
}