/**
 * Components: Product Form
 * -----------------------------------------------------------------------------
 * The product form component.
 */
@import './swatch-grid';

.product-form {
  &__price {
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
  }

  &__description {
    font-size: 0.95rem;
    line-height: $LINE_HEIGHT_BODY;
    margin-bottom: 1.5rem;
  }

  &__label {
    font-size: 0.75rem;
    font-weight: $WEIGHT_SEMIBOLD;
    letter-spacing: $LETTER_SPACING_LABEL;
    margin-bottom: -1rem;
    text-transform: uppercase;
  }
}