/**
 * Components: Image with Text
 * -----------------------------------------------------------------------------
 * Image with Text section styling.
 */
.image-with-text {
  background-color: $COLOR_BACKGROUND_WHITE;
  margin: 2rem 0;

  &__body {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    text-align: center;
  }

  &__title {
    font-size: 1.5rem;
    line-height: $LINE_HEIGHT_HEADING;
    margin: 0 0 1.125rem 0;
  }

  &__content {
    margin: 0 0 1.125rem 0;
  }

  &__image {
    display: block;
    margin: 0 auto;
  }

  @include mq($from: medium) {
    &__body {
      padding: 3rem 0;
    }

    &__title {
      font-size: 2rem;
    }
  }
}