/**
 * Pages: Product
 * -----------------------------------------------------------------------------
 * Entry file for product page styles.
 */
.template-product {
  background-color: $COLOR_BACKGROUND_LIGHT;

  &__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 970px;
    padding: 1.75rem 0;
    width: 100%;
  }

  &__gallery {
    flex: 0 0 64%;
    padding-right: 7rem;
  }

  &__form {
    padding: 0 1rem;
    width: 100%;
  }

  @include mq($from: medium) {
    &__container {
      flex-direction: row;
    }
  }
}